<ion-header>
  <ion-toolbar>
    <ion-title>Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Site</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Seu Site
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Login</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Seu Login
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Third Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Third Content
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
