.title{
  text-align: center;
  font-size: 20px;
}
#container {

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #777777;
  margin: 0;
  overflow: auto;
}

#container a {
  text-decoration: none;
  width: 100%;
}

#cadeado {
  transform: translate(100%, -50%);
  width: 130px;
  box-shadow: 0 0 0 10px hsl(0, 0%, 80%),
    0 0 0 15px hsl(0, 0%, 90%);
  ;

}