<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title position="floating">
      Gerenciador Senha
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="title">
      <ion-title size="large">Gerenciador Senha</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-img id="cadeado" src="assets/img/cadeado.png" alt="icone-cadeado">
    </ion-img>

    <ion-item>
      <ion-label position="stacked">Site</ion-label>
      <ion-input placeholder="Enter Site" [(ngModel)]="credencial.site"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Login</ion-label>
      <ion-input placeholder="Enter Login" type="email" [(ngModel)]="credencial.login"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password </ion-label>
      <ion-input type="password" placeholder="Enter Password" [(ngModel)]="credencial.password"></ion-input>
    </ion-item>

    <ion-list>
      <ion-button id="btn" position="floating" (click)="armazenar()" >Armazenar</ion-button>
      <ion-button fill="outline" position="floating" routerLink="/lista" color="dark">Voltar</ion-button>

    </ion-list>

  </div>
</ion-content>